In [1]:
import requests
import pandas as pd

In [2]:
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=44c895f29d6e012406b3445a12b171f6"

In [3]:
r=requests.get(url)
df=pd.DataFrame(r.json())

In [4]:
df.head(5)

     success   timestamp base        date       rates
AED     True  1695435304  EUR  2023-09-23    3.919791
AFN     True  1695435304  EUR  2023-09-23   83.777767
ALL     True  1695435304  EUR  2023-09-23  106.238044
AMD     True  1695435304  EUR  2023-09-23  413.254608
ANG     True  1695435304  EUR  2023-09-23    1.923023

In [5]:
df_rates=df[['rates']]
df_rates.head(5)

          rates
AED    3.919791
AFN   83.777767
ALL  106.238044
AMD  413.254608
ANG    1.923023

In [6]:
objetivo="archivo.csv"

def load(obj,datos):
    datos.to_csv(obj)
    
load(objetivo, df_rates)